.footer {
    text-align: center;
    width: 100%;
}

.image-socials {
    margin: 30px 0;
    height: 40px;
}

.social-images a {
    margin: 10px 20px;
}

.footer-para-text {
    font-size: 9px;
    margin-top: 20px;
}

.image-socials:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
}

.footer-a {
    font-size: 9px;
    padding: 0 !important;
    margin: 0 !important;
    text-decoration: underline;
}

.footer-a:hover {
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: 1s;
}

@media only screen and (max-width: 768px) {
    .social-images a {
        margin: 10px 10px;
    }
}
