.nav-content {
  display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.nav-items {
  list-style: none;
  padding-bottom: 30px;
  }

.nav-item {
  display: inline;
  padding: 20px;
  font-size: 20px;
}

.nav-item:hover {
  background-color: #E56700;
}