.navbar {
    position: fixed;
    width: 100%;
    background-color: none;
    overflow: auto;
    padding: 0 33% !important;
    margin-bottom: 100px;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 8px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    color: black;
    font-size: 17px;
  }
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }