.profile__row {
  display: flex;
  width: 100%;
}

.profile__column1 {
  text-align: center;
  width: 50%;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__column2 {
  width: 50%;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.image-cropper {
  overflow: hidden;
  background-position: center;
  width: 300px;
  height: 100%;
  object-fit: contain;
}

.CEO__img {
  width: 100%;
  object-fit: cover;
  height: 500px;
  border-radius: 10px;
}

.CEO__title {
  margin-top: 100px;
}

.img__cropper_p {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .profile__row {
    display: grid; /* Changed to grid */
    grid-template-columns: 1fr; /* Single column in grid */
    grid-template-rows: auto auto; /* Rows for image and columns */
    gap: 10px; /* Gap between rows and columns */
  }

  .image-cropper {
    overflow: hidden;
    background-position: center;
    width: 48vh; /* Full width */
    height: auto; /* Height auto to maintain aspect ratio */
  }

  .profile__column1 {
    width: 50%;
    border-bottom: 1px solid #e5e5e5;
  }

  .profile__column2 {
    width: 100%;
    border-left: none;
    border-bottom: 1px solid #e5e5e5;
  }

  .CEO__title {
    margin-top: 100px;
  }

  .img__cropper_p {
    font-size: 15px;
  }
}
