/* toggle button */

.toggle-container {
    position: absolute;
    bottom: 1.6em;
    right: 2em;
}

.toggle {
    visibility: hidden;
}

.toggle + label {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--primary-text-color);
}

.toggle + label::before {
    background-color: var(--toggle-bg);
    transition: background-color 250ms ease-in-out;
}

.toggle + label::after {
    background-color: var(--toggle-fg);
}

.toggle:checked + label::after {
    transform: translateX(100%);
}