.App {
  display: grid;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  grid-template-columns: 20% 80%;
  grid-template-rows: 141px 73vh 15vh;
  grid-template-areas:
    'navbar-grid header-grid'
    'navbar-grid app-body'
    'resumeBtn footer';
}

.navbar-grid {
  text-align: center;
  grid-area: navbar-grid;
}

.app-body {
  display: grid;
  grid-area: app-body;
  justify-items: start;
  align-items: start;
  overflow-y: auto;
  border-left: 1px solid #e5e5e5;
  scrollbar-color: #1e1e1e #c7c7c7;
  scrollbar-width: thin;
}

.card {
  display: grid;
  margin: 0;
  left: 0;
  padding: 0;
  width: 100%;
  justify-items: start;
  align-items: start;
  height: 100vh;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #c7c7c7;
}

::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #1e1e1e;
}

.header-grid {
  display: grid;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  grid-area: header-grid;
  justify-items: center;
  align-items: center;
  font-size: 17px;
}

/* Typewriter effect */
.typewriter .page-title {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #1e1e1e; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  font-size: 30px;
  animation:
    typing 5s steps(40, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #1e1e1e;
  }
}

.nav__footer__row {
  border-top: 1px solid #e5e5e5;
  grid-area: resumeBtn;
  text-align: center;
}

.footer {
  display: grid;
  grid-area: footer;
  justify-items: center;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.footer__row {
  margin: 0;
  padding: 0;
}

.footer_text {
  color: var(--primary-text-color);
  font-size: 15px;
}

.nav__footer__row2 {
  display: flex;
}

.toggleButton {
  visibility: hidden;
  display: none;
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}


.image-socials_mail {
  height: 18px;
  opacity: 0.5;
}

.image-socials_linkedin {
  height: 20px;
  opacity: 0.5;
}

.image-socials_github {
  height: 22px;
  opacity: 0.5;
}

.social-images {
  padding: 0;
}
.social-images a {
  margin: 0 20px;
}

.invert-color {
  filter: invert(100%);
}


@media screen and (max-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: 0% 100%;
    grid-template-rows: 17vh 73vh 10vh;
    grid-template-areas:
      'navbar-grid header-grid'
      'navbar-grid app-body'
      'resumeBtn footer';
  }

  .toggleButton {
    visibility: visible;
    display: flex;
    width: 35px;
    height: 35px;
    background-image: url('../src/components/Icons/hamburger.png');
    background-size: cover;
    z-index: 9999;
  }

  .typewriter .page-title {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid #1e1e1e; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    font-size: 15px;
    margin-top: 50px;
    animation:
      typing 5s steps(40, end),
      blink-caret 1s step-end infinite;
  }

  .logo-border {
    margin: 0;
    left: 0;
    padding: 0;
  }

  .logo-img {
    width: 30vh;
    left: 0;
  }

  .navbar-grid {
    text-align: center;
    z-index: 999999;
    width: 50vh;
    height: 100vh;
    grid-area: navbar-grid;
  }

  .navbar {
    height: 100%;
  }

  .nav-content {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-item {
    margin: 10px 0;
  }
}
