.App {
  text-align: center;
}

:root {
  --bg:  #999da1;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --menu-item-color: #7d8597;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 400ms; 
}

html {
  scroll-behavior: smooth;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}