@font-face {
  font-family: 'Albula-Regular'; 
  src:
    local('Albula'),
    url('./components/fonts/Albula-Regular.ttf') format('woff');
}

body {
  margin: 0;
  font-family: 'Albula-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  height: 100%;
  overflow: hidden;
  letter-spacing: 0.25rem;
}

* {
  cursor: crosshair;
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

:root {
  --background-color: #f6f6f6;
  --foreground-color: #003cff;
  --primary-text-color: #363636;
  --secondary-text-color: #C7C7C7;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
  --hover-color: #00a6ff;
  --border-color: #a3a3a3d5;
}

[ data-theme="dark"] {
  --background-color: #050c19;
  --foreground-color: #567aff;
  --primary-text-color: #C7C7C7;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
  --hover-color: #ffe3b9;
  --border-color: #ffe3b9;
}